<h1>Service Demo</h1>
<div data-sly-use.service="com.aem.geeks.core.models.ServiceDemo"></div>

--------------------Start Tutorial #29-----------------------
<div></div>
==================== USING Service and Iterator =============
<div data-sly-list.item="${service.pagesList}">
    <p> Page ${itemList.count} Title : <b>${item.title} </b></p>
</div>
==================== USING Service and List ==================
<div data-sly-list.item="${service.pageTitleList}">
    <p> Page ${itemList.count} Title : <b>${item} </b></p>
</div>
---------------------End Tutorial #29-------------------------
<div></div>
--------------------Start Tutorial #30-----------------------
<div><p> Name : <b>${service.nameFromService}</b></p></div>
<div><p> Name : <b>${service.nameFromServiceB}</b></p></div>
<div><p> Name With Reference : <b>${service.nameWithReference}</b></p></div>
---------------------End Tutorial #30-------------------------




